/* Write your code here */
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
button {
  background-color: transparent;
  border-style: none;
}
